.App {
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0288D1;
  color: white;
  text-align: center;
}
.App-link {
  color: #61dafb;
}

.navbar {
  /* margin: 0; */
  position: sticky;
  z-index: 3;
  background-color: #03A9F4;
  padding: 10px 2%;
}

.nav-link {
  color: white !important;
  opacity: 75% !important;
  position: relative;
  float: right;
  padding: 0.5rem;
}

.navbar #brand {
  color: white !important;
  opacity: 75% !important;
  position: relative;
  float: left;
  padding: 0.5rem;
  font-size: large;

}
.navbar #brand:hover {
  color: #ed003f !important;
  transition: 0.5s;
}
.nav-link:hover {
  color: #ed003f !important;
  transition: 0.5s;
}
#home {
  /* background-color: rgba(0, 0, 0, 0.01); */
  background-color: transparent;
  position: relative;
  width: 100%;
  z-index: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: white;

}
.home-container {
  margin-top: 3rem;
  text-align: left;
}
.home-welcome {
  font-size: 140%;
}
.home-intro {
  font-size: 90%;
  margin-left: 1rem;
}